* {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: cornflowerblue
}

img {
    height: 600px;
    width: 600px;
    
}

.home-button {
    margin-top: 2em;
    text-align: center
}

.home-description {
    text-align: center
}

.home-image {
    text-align: center
}
nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

.PlacePic {
    width: 50%;
}
#PlaceInfo{
    text-align: center
}
#CommentSection{
    text-align: center
}