* {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: cornflowerblue
}

img {
    height: 600px;
    width: 600px;
    
}

.home-button {
    margin-top: 2em;
    text-align: center
}

.home-description {
    text-align: center
}

.home-image {
    text-align: center
}